* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --standard-shadow: 0 2.5px 5px #c0bdbd;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "NorseBold";
    src: url(./Norse-Bold.otf) format("opentype");
}


.bg-container {
    width: 100%;
    height: 10vh;
    background-image: url("bg-image.jpg");
    background-size: cover;
    color: #fff;
    position: relative;
}

.bg-footer>a{
    color: #fff;
}

img{
    height: 10vh;
}

.odin-logo{
    display: flex;
}

.bg-footer{
    display: none;
}


.input-container{
    background-color: #fff;
    box-shadow: var(--standard-shadow);
}

.content{
    padding: 1.5em 0;
    background-color: #f8f9fa;
}

.header-container{
    margin: 2em 0;
}

.header-container,
.input-container,
.footer-container {
    padding:2em 1.5em;
}


.input-group{
    margin-bottom: .75rem;
}

.input-container>h1{
    padding-bottom: 1em;
}

.button{
    padding: 0.75em 2.5em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #596D48;
    color: #fff;
    box-shadow: var(--standard-shadow);
}

.button:hover{
    background-color: #485a39;
}

.form-footer{
    margin-top: 2em;
}

.input-group>label {
    display: inline-block;
    min-width: 100%;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    letter-spacing: 1.25px;
    color: #2D3744;
}

.input-group>input{
    width: 250px;
    padding: .3em;
    border: 1px solid #E5E7EB;
    background-color: #FFFEFE;
    border-radius: 3px;
}

.input-group>input:focus {
    outline: none; /* remove default border so custom border aplies */
    border: 1.5px solid #1D4ED8;
    box-shadow: var(--standard-shadow);
}

.input-group>#password:invalid{
    outline: none;
    border: 1.5px solid red;
}
.form-footer{
    font-weight: bold;
}

.form-footer>a {
    padding-left: .25em;
    text-decoration: none;
    color: #596D48;
}

h1{
    font-size: 1.6em;
}

button, .form-footer{
    font-size: 1em;
}

.odin-logo {
    background-color: rgb(20, 20, 20, 0.5);
    justify-content: center;
    align-items: center;  
 }

.odin-logo>h1{
    font-family: "NorseBold";
    font-size: 3em;
}


@media only screen and (min-width: 750px) {
    body {
        flex-direction: row;
    }

    .bg-container {
        width: 100%;
        height: 100vh;
        background-image: url("bg-image.jpg");
        background-size: cover;
        flex: 1;
    }

    .content {
        flex: 2;
    }

    .bg-footer{
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.8em;
        text-align: center;
        padding-bottom: 1em;
    }

    .header-container{
        margin: 4em 0 2em 0;
    }

    .header-container>h1{
        max-width: 55ch;
    }

    .header-container,
    .input-container,
    .footer-container{
        padding: 2em 4em;
    }

    .input-pair {
        display: flex;
        gap: 1rem;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
    }

    .input-pair:not(:last-child){
        margin-bottom: .75rem;
    }

    .input-group>label {
        min-width: 150px;
        text-align: left;
    }

    img {
        height: 15vh;
    }

    .odin-logo{
        margin-top: 25vh;
    }

    .odin-logo>h1{
        font-size: 6em;
    }

}